@model List<CodeTheWay.Web.Ui.Models.Barrel>
@*
    ViewData["Title"] = "Index";
*@
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<div class="container-fluid">
    <h1 class="tableLinks">Index</h1>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for items.." title="Type in an item">
    <table class="table sortable" id="myTable">
        <thead>
            <tr>
                <th scope="col">Radius</th>
                <th scope="col">Height</th>
                <th scope="col">Content</th>
                <th scope="col">Current Location</th>
                <th scope="col">Commands</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Radius)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentLocation)
                    </td>
                    <td>
                        <div>
                            <div id="tableLinks">
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                            </div>

                            <div id="tableLinks">
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </div>
                            <div id="tableLinks">
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-action="Create" class="tableLinks"><b>Create a new barrel.</b></a>
    </div>
</div>
